@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.cookies{
    /* background-image: url('./assets/img/fondo1.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cookies__bg1{
    background-image: url('./assets/img/fondo1.jpg');
}

.cookies__bg2{
    background-image: url('./assets/img/fondo2.jpg');
}

.cookies__bg3{
    background-image: url('./assets/img/fondo3.jpg');
}

.cookies__bg4{
    background-image: url('./assets/img/fondo4.jpg');
}

h1{
    text-align: center;
    color: white;
    font-size: 35px;
    text-shadow: 4px 8px 2px rgba(28,12,8,0.18);
}

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.quotes__phrase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    color: gray;
    max-width: 600px;
    min-width: 260px;
    height: 360px;
    background-color: #ffffff;
}

.quotes__button {
    background-color: #C2E7FF;
    color: #706F6F;
    border: 6px solid white;
    border-radius: 15px;
    width: 300px;
    padding: 0.5rem;
    cursor: pointer;    
}

.quotationMarks{
    position: relative;
    right: 0px;
    bottom: -160px;
    /* background-color: red; */
    font-family: 'Passion One', cursive;
    font-size: 80px;
}

@media (min-width: 700px) {
    .quotes__phrase {
        min-width: 600px;
        height: 200px;
    }

    .quotationMarks{
        position: relative;
        right: 0;
        bottom: -70px;
    }    
}